.stellarnav li.has-sub > a:after {
    margin-right: 10px;
    margin-left: 0px !important;
}

.ion-ios-arrow-forward:before {
    content: "\f3cf" !important;
}

.mr-4, .mx-4{
	margin-left: 1.5rem !important;
	margin-right: 0 !important;
}

.mr-2, .mx-2{
	 margin-right: 0 !important;
	 margin-left: 0.5rem !important;
}

.ion-ios-arrow-round-forward:before {
    content: "\f117" !important;
}

.stellarnav.desktop li.has-sub a{
	padding-right: 15px !important;
    text-align: right;
}

.ftco-counter .text strong.number:after{
	left: auto;
	right: 0;
}
